.information {
  background: #f3f9f6;
  padding: rem(15) 0 rem(35);
}

@media screen and (min-width: 768px) {
  .information {
    padding: rem(20) 0 rem(60);
  }
}

.information__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.information__list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
          flex-flow: column-reverse wrap;
  margin-top: rem(20);
}

@media screen and (min-width: 768px) {
  .information__list .item {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: rem(30);
    margin-top: rem(40);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .information__list .item {
    -ms-grid-columns: (minmax(calc(50% - 30px), 1fr))[2];
        grid-template-columns: repeat(2, minmax(calc(50% - 30px), 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .information__list .item {
    -ms-grid-columns: (minmax(540px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
  }
}

.information__list .item .info {
  color: #000;
  margin-bottom: rem(20);
}

@media screen and (min-width: 768px) {
  .information__list .item .info {
    margin-bottom: 0;
  }
}

.information__list .item .info .title {
  font-weight: 700;
  font-size: rem(20);
  line-height: rem(26);
}

@media screen and (min-width: 768px) {
  .information__list .item .info .title {
    font-size: rem(27);
    line-height: rem(36);
  }
}

.information__list .item .info .text {
  margin: rem(15) 0 0;
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(24);
}

@media screen and (min-width: 768px) {
  .information__list .item .info .text {
    font-size: rem(18);
    line-height: rem(26);
  }
}

.information__list .item .image .badges {
  top: rem(10);
  right: rem(10.5);
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .information__list .item .image .badges {
    top: rem(-20);
  }
}

@media screen and (min-width: 1240px) {
  .information__list .item .image .badges {
    max-width: 240px;
  }
}

.information__list .item .image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
