.low-price {
  padding: rem(60) 0;
}

.low-price__heading {
  color: #000;
  margin-bottom: rem(25);
}

.low-price__heading .title {
  font-weight: 700;
  font-size: rem(27);
  line-height: rem(36);
}

.low-price__heading .text {
  margin: rem(15) 0 0;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(26);
}

.low-price__listing {
  display: -ms-grid;
  display: grid;
  grid-gap: rem(30);
  -ms-grid-columns: (minmax(auto, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}

@media screen and (min-width: 768px) {
  .low-price__listing {
    -ms-grid-columns: (minmax(auto, 1fr))[2];
        grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .low-price__listing {
    -ms-grid-columns: (minmax(calc(100% / 4 - rem(30)), 1fr))[4];
        grid-template-columns: repeat(4, minmax(calc(100% / 4 - rem(30)), 1fr));
  }
}

.low-price__listing .item {
  background: #0c8543;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.low-price__listing .item .info {
  padding: rem(15);
}

.low-price__listing .item .info .title {
  font-weight: 500;
  font-size: rem(21);
  line-height: rem(27);
}

.low-price__listing .item .image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
