.form {
  &__header {
    padding: rem(10) 0;
    background-color: var(--bg-color);
    border-radius: rem(4) rem(4) 0 0;
    margin-bottom: rem(1);
    padding: rem(10) rem(24);

    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-weight: 700;
      font-size: rem(24);
      line-height: rem(28);
      color: var(--text-color);
    }
  }
  &__body {
    padding: rem(24);
    box-shadow: 0px 1px 4px rgba(59, 67, 87, 0.1);
    border-radius: rem(4);
    background-color: var(--bg-color);
  }
  &__inline-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      width: calc(50% - rem(8));
    }
  }
  &__inline {
    > div {
      width: 100%;
    }
  }
  &__control {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(24);
    position: relative;
    &-input {
      width: 100%;
      border: rem(1) solid var(--border-input);
      border-radius: rem(4);
      padding: rem(14) rem(16);
      background: var(--bg-color);

      font-weight: 400;
      font-size: rem(14);
      line-height: rem(16);
      color: var(--text-color);
      &::placeholder {
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(20);
        color: var(--placeholder-text);
      }
      &:focus {
        outline: none;
      }
    }
    &-label {
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(16);
      color: var(--text-color);
      margin-bottom: rem(8);
    }
  }
  &__section {
    &-title {
      margin-bottom: rem(8);
      font-weight: 700;
      font-size: rem(14);
      line-height: rem(16);

      color: var(--text-color);
    }
  }
  .error {
    position: absolute;
    left: 0;
    bottom: rem(-16);
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(16);
    color: var(--error-color);
    &__input {
      border-color: var(--error-color);
    }
  }
}
.btn {
  background: var(--btn-bg-color);
  border-radius: rem(4);
  padding: rem(7) rem(16);

  &__text {
    color: var(--btn-text-color);
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(16);
  }
}
.hidden {
}
.checkbox {
  label {
    cursor: pointer;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(16);

    color: var(--text-color);
  }
}
.degrees-block {
  position: relative;
  margin-bottom: rem(24);
  &__inline {
    border: rem(1) solid var(--border-degrees);
    border-radius: rem(4);
    padding: rem(24) rem(16) 0;
  }
  &__add {
    display: flex;
    align-items: center;

    padding: rem(12) rem(16) rem(12) rem(20);
    width: max-content;
    margin-top: rem(24);
    border: rem(1) solid var(--btn-degrees-color);
    border-radius: rem(4);

    cursor: pointer;
    .icon {
      position: relative;
      margin-right: rem(8);
      width: rem(16);
      height: rem(16);
      background: linear-gradient(var(--btn-degrees-color), var(--btn-degrees-color)),
        linear-gradient(var(--btn-degrees-color), var(--btn-degrees-color));
      background-position: center;
      background-size: 100% rem(1.5), rem(1.5) 100%;
      background-repeat: no-repeat;
    }
    .text {
      font-weight: 700;
      font-size: rem(14);
      line-height: rem(16);
      color: var(--btn-degrees-color);
    }
    &--deactive {
      border: rem(1) solid var(--border-degrees-deactive);
      cursor: not-allowed;
      .text {
        color: var(--btn-degrees-color-deactive);
      }
      .icon {
        background: linear-gradient(var(--btn-degrees-color-deactive), var(--btn-degrees-color-deactive)),
          linear-gradient(var(--btn-degrees-color-deactive), var(--btn-degrees-color-deactive));
        background-position: center;
        background-size: 100% rem(1.5), rem(1.5) 100%;
        background-repeat: no-repeat;
      }
    }
  }
  &__remove {
    position: absolute;
    top: rem(-12);
    right: rem(-12);
    width: rem(24);
    height: rem(24);
    padding: rem(4);
    background: var(--btn-degrees-remove-bg);
    transition: 0.2s ease background 0ms;
    box-shadow: 0px 1px 4px rgba(58, 58, 58, 0.3);
    border-radius: rem(4);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      path {
        stroke: var(--btn-degrees-remove-color);
      }
    }
    &:hover {
      background: var(--btn-degrees-remove-bg-hover);
    }
  }
}
.required {
  font-weight: 700;
  font-size: rem(20);
  line-height: rem(16);
  color: #d14114;
}
.none-remove {
  .degrees-block__remove {
    cursor: not-allowed;
  }
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: rem(1.5) solid var(--checkbox-border);
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &:checked + label::before {
    border-color: var(--checkbox-bg);
    background-color: var(--checkbox-bg);
    background-image: var(--checkbox-cheked-icon);
  }

  &:disabled + label::before {
    background-color: var(--checkbox-bg);
  }
}
.toggle-checkbox {
  display: inline-block;
  width: rem(28);
  height: rem(16);
  position: absolute;
  top: 0;
  right: 0;
  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: rem(12);
      width: rem(12);
      left: rem(2);
      bottom: rem(2);
      background-color: var(--toggle-bg-rounded);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
    border-radius: rem(20);
  }
  &--check {
    .toggle-checkbox__slider {
      background-color: var(--toggle-bg-active);

      &::before {
        left: calc(100% - rem(14));
      }
    }
  }
}
