$maxWidth: 1280;
@mixin font_resize($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + (#{$addSize} - 4) * ((100vw - 320px) / #{$maxWidth}));

  // Todo: notice- write formula for line-height or default line-height:normal
  line-height: calc(#{$mobSize + px} + (#{$addSize} / 0.85) * ((100vw - 320px) / #{$maxWidth}));

  @media (max-width: 767px) {
    line-height: calc(#{$mobSize + px} + #{$addSize} * 2.5 * ((100vw - 320px) / #{$maxWidth}));
  }
}
