section.lowPrice.d-none.d-md-block
  .container 
    .row.justify-content-center
      .col-auto 
        .lowPrice__heading.text-center
          h2.title How We Keep Low Prices
          p.text We are the only installer of Partner™ in the United States, providing homeowners with one single point of contact for sales and service. By not relying on an independent dealer network, we are able to maintain a high level of quality control and service. And, since there is no middle man, we pass the savings on to you!
    .row
      .col-auto 
        .lowPrice__listing
          +lowPrice-item('1', 'Free Gutter Evaluation')
          +lowPrice-item('2', 'Same Day Install Available')
          +lowPrice-item('3', 'Manufactured In The USA')
          +lowPrice-item('4', 'Service & Support Included')

