.lowPrice {
  padding: rem(60) 0;

  &__heading {
    color: #000;
    margin-bottom: rem(25);
    .title {
      font-weight: 700;
      font-size: rem(27);
      line-height: rem(36);
    }
    .text {
      margin: rem(15) 0 0;
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(26);
    }
  }

  &__listing {
    display: grid;
    grid-gap: rem(30);
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(calc(100% / 4 - rem(30)), 1fr));
    }

    .item {
      background: #0c8543;
      border-radius: 8px;
      color: #fff;
      text-decoration: none;
      .info {
        padding: rem(15);
        .title {
          font-weight: 500;
          font-size: rem(21);
          line-height: rem(27);
        }
      }
      .image {
        img {
          border-radius: 8px;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
