.switch-theme {
  &__title {
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(16);
    color: var(--text-color);
    margin-bottom: rem(12);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    width: max-content;
    min-width: rem(286);
    background: var(--switch-bg);
    border-radius: rem(4);
    padding: rem(4);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      width: rem(1);
      height: calc(100% - rem(8));
      background: var(--switch-before);
    }
  }
  &__item {
    padding: rem(4) 0;
    margin-right: rem(4);
    min-width: rem(135);
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
  &__item-title {
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(16);
    color: var(--text-color);
  }
  .active {
    background: var(--bg-color);
    box-shadow: 0px 1px 4px rgba(58, 58, 58, 0.3);
    border-radius: rem(4);
    .switch-theme__item-title {
      font-weight: 700;
    }
  }
}
