.switch-theme
  .switch-theme__title Выбор темы
  .switch-theme__list
    .switch-theme__item.light.active
      .switch-theme__item-title Светлая
    .switch-theme__item.dark
      .switch-theme__item-title Темная