.header {
  padding: rem(20) 0;
  background: #ffffff;
  opacity: 0.98;
  border: 1px solid #e0e0e0;

  @media screen and (max-width: 767px) {
    padding: rem(10) 0;
  }

  .logo {
    display: inline-block;
    width: rem(150);
    height: rem(50);

    @media screen and (min-width: 768px) {
      width: rem(168);
    }
  }
}
