section.hero
  .container
    .row
      .col-auto
        h3.hero__heading How Over <span>410,000 Americans</span> Increased Their Property Value <span>In Under 6 Hours*</span> With This Simple Upgrade.
        .hero__featureList
          +feature-item('diplom', 'Lifetime warranty with 100% no-clog guarantee', 'order-1 order-md-1')
          +feature-item('home', 'Fits every home', 'order-3 order-md-2')
          +feature-item('money', 'Installs over existing gutters saving you thousands', 'order-2 order-md-3')
          +feature-item('partner', 'Customer rating', 'order-4 order-md-4')
