.hero {
  margin: rem(50) 0 rem(60);
  @media screen and (max-width: 767px) {
    margin: rem(25) 0;
  }
  &__heading {
    @include font_resize(50, 22); // todo: need fix formula calc size in function
    font-weight: 600;

    @media only screen and (width: 375px) {
      // !: very bad idea...
      line-height: 26px;
    }

    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    span {
      color: #0c8543;
      @include font_resize(45, 22);
    }
  }

  &__featureList {
    grid-gap: rem(20);
    display: grid;
    margin-top: rem(25);
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));

    @media (min-width: 340px) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    @media screen and (min-width: 768px) {
      margin-top: rem(50);
      grid-template-columns: repeat(2, minmax(262px, 1fr));
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    }

    .item {
      background: #f3f9f6;
      padding: rem(30.5) rem(18);

      @media screen and (min-width: 990px) and (max-width: 1200px) {
        min-height: rem(227);
        justify-content: center;
      }

      @media screen and (max-width: 767px) {
        padding: rem(16) rem(20);
        &:nth-child(1),
        &:nth-child(3) {
          min-height: rem(199);
        }
        &:nth-child(2),
        &:nth-child(4) {
          min-height: rem(157);
        }
      }
      .icon {
        width: rem(70);
        height: rem(70);
        margin-bottom: rem(15);

        @media screen and (max-width: 767px) {
          width: rem(60);
          height: rem(60);
        }
      }
      .text {
        font-weight: 500;
        font-size: rem(21);
        line-height: rem(27);

        @media screen and (max-width: 767px) {
          font-size: rem(16);
          line-height: rem(21);
        }
      }
    }
  }
}
