.cookie 
  .container
    .row
      .col
        .d-flex.justify-content-between.align-items-center.cookie__block
          .info
            .title Cookie consent
            .text This website uses cookies. By continuing to browse, you are accepting its use. If you want to know more, see our <a href="#">Privacy Policy.</a>
          .control.d-flex
            button.btn
              span.text Reject
            button.btn.btn--gradient
              span.text Accept