.questionary {
  margin-top: rem(24);
  margin-bottom: rem(48);
  .sidebar {
    max-width: rem(180);
    max-height: rem(466);
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
  }
}
