form.form(id="form-banner")
  .form__title Lorem ipsum <br> Lorem ipsum lorem <br> Lorem ipsum lorem ipsum
  .form-control
    label(for="email") Email
    input(type="email" name="email" id="email" placeholder="Email" required)
  .form-control
    .checkbox
      input#terms.custom-checkbox(type='checkbox' name='terms' required)
      label(for='terms') I agree with
        a(href='#' target="_blank" class="terms") Privacy Policy
  button.btn.btn--gradient(type="submit" disabled id="subButton")
    span.text enter
  #loader.hidden Sending... check console.log()