section.warranty
  .container-fluid.warranty__bg.position-relative
    .row.align-items-center
      .container
        .row.align-items-center
          .col-auto.mx-auto.mx-md-0
            .warranty__image
              img(src='/img/images/warranty.webp')
          .col-auto.col-md.text-center.text-md-left
            .warranty__info
              h4.title <span>Lifetime</span> Warranty
              p.text With our lifetime, transferable warranty, you’ll enjoy the peace of mind that Partner™ will last as long as you own your home.
  .container 
    .row 
      .col-auto.text-left.text-md-center.w-100
        p.warranty__addition.m-0 * - The actual installation time may vary depending on home size, weather conditions, scope of work, etc..