.banner
  .container
    .row.justify-content-between.align-items-center
      .col-xl-5.col-md-6
        .banner__image
          img(src="../../../img/images/banner__hero-image.svg" alt="banner-image")
      .col-lg-5
        include ../form/form.pug