.footer {
  background: #0c8543;
  padding: rem(25) 0;
  .logo {
    display: inline-block;
    width: rem(168);
    height: rem(56);
  }
  .nav {
    list-style: none;
    justify-content: space-evenly;
    @media screen and (max-width: 990px) {
      padding: rem(25) 0;
    }
    &__item {
      margin-bottom: rem(15);
      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: 990px) {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(17);
        text-decoration: underline;
        margin-right: rem(30);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .copyright {
    color: #fff;
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(18);

    @media screen and (min-width: 990px) {
      max-width: rem(121);
    }
  }
}
