section.footer
  .container
    .row.justify-content-center.justify-content-lg-between.align-items-center
      .col-auto
        a.logo(href='/')
          svg
            use(xlink:href="img/sprites/sprite.svg#logo__footer")
      .col-auto.col-md-12.col-lg.text-center.text-lg-left.text-xl-center
        ul.nav.d-flex.flex-lg-row.flex-wrap.flex-column.flex-lg-row
          li.nav__item
            a(href="#") Privacy Policy
          li.nav__item
            a(href="#") Contact us
          li.nav__item  
            a(href="#") Unsubscribe
          li.nav__item
            a(href="#") Do not sell my personal information
      .col-auto
        .copyright.d-flex.d-lg-column.flex-lg-wrap
          span © 2020 Partner.&nbsp;
          span All Rights Reserved.