section.information 
  .container
    .row.information__list
      +information-item('order-1 order-md-2 order-2 order-md-1', 'item--1', 'Does Partner™ Stop Ice Dams From Forming?', 'Partner™ offers protection against ice dams in 4 different ways: No clogged gutters in winter, angled so snow slides off and doesn`t freeze, snow melt drains and guards are made from steel to stop “buckling”.', 'badges')
      +information-item('', 'item--2', 'Can Partner™ Handle Heavy Rains?', 'Yes, absolutely. Our gutter guards are installed across America – including in areas with torrential downpours and hurricanes!')
      +information-item('order-1 order-md-2 order-2 order-md-1', 'item--3', 'What If Leaves & Debris Simply Pile Up On Top Of Partner?', 'Partner️™ is installed at an ideal angle so debris slides right off, never builds up on top of the filter guards and stops water from overshooting the gutter.')